#button1{
    background-color: greenyellow;
    border: solid 4px;
    position: absolute;
    left: 39%;
    top: 30%;
}

#button2{
    background-color: red;
    border: solid 4px;
    position: absolute;
    left: 44%;
    top: 30%;
}

#button3{
    background-color: greenyellow;
    border: solid 4px;
    position: absolute;
    left: 51%;
    top: 30%;
}

#button4{
    background-color: red;
    border: solid 4px;
    position: absolute;
    left: 56%;
    top: 30%;
}

#button5{
    background-color: greenyellow;
    border: solid 4px;
    position: absolute;
    width: 10%;
    left: 39%;
    top: 20%;
}

#button6{
    background-color: red;
    border: solid 4px;
    position: absolute;
    width: 10%;
    left: 51%;
    top: 20%;
}