#button1{
    background-color: rgb(64, 255, 47);
    border: solid 4px;
    position: absolute;
    left: 37%;
    top: 80%;
    width: 8%;
}

#button2{
    background-color: red;
    border: solid 4px;
    position: absolute;
    left: 37%;
    top: 87%;
    width: 8%;
}

#button3{
    background-color: rgb(64, 255, 47);
    border: solid 4px;
    position: absolute;
    left: 57%;
    top: 80%;
    width: 8%;
}

#button4{
    background-color: red;
    border: solid 4px;
    position: absolute;
    left: 57%;
    top: 85%;
    width: 8%;
}

#text{
      border: solid 4px;
    position: absolute;
    top: 74%;
    left: 45%;
    color: rgb(64, 255, 47);
}
